@page
@model UpdateAccountModel
@{
    ViewData["Title"] = "Update Account";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update New Account</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #dee9ff;
        }

        .registration-form {
            padding: 50px 0;
        }

        .registration-form form {
            background-color: #fff;
            max-width: 600px;
            margin: auto;
            padding: 50px 70px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }

        .registration-form h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .registration-form .item {
            border-radius: 20px;
            margin-bottom: 25px;
            padding: 10px 20px;
        }

        .create-account {
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: #5791ff;
            border: none;
            color: white;
            margin-top: 20px;
            display: block;
            text-align: center;
            text-decoration: none;
        }

        .create-account:hover {
            border: 4px solid #0e5ef1;
        }

        .create-cancel {
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: rgb(4, 212, 4);
            border: none;
            color: white;
            margin-top: 20px;
            display: block;
            text-align: center;
            text-decoration: none;
        }

        .create-cancel:hover {
            border: 4px solid rgb(1, 124, 1);
            color: white;
        }
    </style>
</head>
<body>
    <div class="registration-form">
        <form method="post">
            <h1>@ViewData["Title"]</h1>

            <div class="form-group">
                <input asp-for="Account.AccountNumber" type="text" class="form-control item" id="username" placeholder="Account Number">
                <span asp-validation-for="Account.AccountNumber" class="text-danger"></span>
                <input asp-for="Account.Balance" type="text" class="form-control item" id="username" placeholder="Balance">
                <span asp-validation-for="Account.Balance" class="text-danger"></span>
                <input asp-for="Account.OwnerId" type="text" class="form-control item" id="username" placeholder="OwnerId">
                <span asp-validation-for="Account.OwnerId" class="text-danger"></span>
                <input asp-for="Account.Type" type="text" class="form-control item" id="username" placeholder="Type">
                <span asp-validation-for="Account.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Update Account</button>
                <a asp-page="/Account/GetAccounts" class="btn btn-block create-cancel">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>
